<!DOCTYPE HTML>

<html>
	<head>
		<title>Фото Севера</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<script src="https://kit.fontawesome.com/69848dfc08.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{{ url_for('get_all_photos')}}" class="logo"><strong>Профсоюз</strong> <span>Газпром добыча Уренгой</span></a>
						<nav>
							<a href="#menu">Меню</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{{ url_for('get_all_photos')}}">Главная</a></li>
							<li><a href="{{ url_for('get_land') }}">О проекте</a></li>
							<li><a href="generic.html">Связаться с нами</a></li>

						</ul>

						<ul class="actions stacked">
							{% if not current_user.is_authenticated : %}
							<li><a href="{{ url_for('register') }}" class="button primary fit">Зарегистрироваться</a></li>
							<li><a href="{{ url_for('login')}}" class="button fit">Войти</a></li>
							{%else:%}
							<li><a href="{{ url_for('add_new_photo')}}" class="button fit">Предложить фото</a></li>
							<li><a href="{{ url_for('logout')}}" class="button fit">Выйти</a></li>
							{%endif%}
						</ul>
					</nav>

