{% include "header.html" %}

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								{% if current_user.is_authenticated : %}
								<h1 >{{current_user.first_name}}, добро пожаловать в проект <br> «Фото Севера»!</h1>
								{%else:%}
								<h1>Добро пожаловать в проект <br> «Фото Севера»!</h1>
								{%endif%}
								<h2 style="margin: 0 0 0 0;">Подписывайся на Профсоюз в соцсетях! </h2>
								<div class="networks_wrapper">
									<div class="qr_wrapper">
										<img class="telegram_qr" src="http://qrcoder.ru/code/?https%3A%2F%2Ft.me%2Fgdu_profsouz&2&0" width="66" height="66" border="0" title="QR код"/>
										<p>Telegram</p>
									</div>
									<div class="qr_wrapper">
										<img src="http://qrcoder.ru/code/?https%3A%2F%2Fvk.com%2Funionfederation&2&0" width="66" height="66" border="0" title="QR код">
										<p>Вконтакте</p>
									</div>
									<div class="qr_wrapper">
										<img src="http://qrcoder.ru/code/?https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUC9OI6vTwRThPXz17ezwyz4g%2Fvideos&2&0" width="66" height="66" border="0" title="QR код">
										<p>YouTube</p>
									</div>
								</div>

							</header>
							<div class="content">
								<p>Здесь можно увидеть фото северной природы, оценить их
								и предложить свои! <br>Раз в месяц мы объявляем лучшее фото! <br>
								Обязательным условием участия в конкурсе фото является подписка на все наши соцсети!<br>
								 </p>
								<ul class="actions">
									{% if not current_user.is_authenticated : %}
									<li><a href="#one" class="button next scrolly">Начать!</a></li>
									{%else:%}
									<li><a href="{{ url_for('add_new_photo')}}" class="button next scrolly">Добавить фото!</a></li>
									{%endif%}
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
						<!-- One -->
							<section id="one" class="tiles">
								{% for photo in photos %}
								<article>
									<span class="image">
										<img src={{photo.img_url}} alt="" />
									</span>
									<header class="major">
										<h3><a href="{{ url_for('view_photo', photo_id=photo.id) }}" class="link">{{photo.photo_title}}</a></h3>
										<p>Фото сделано: {{photo.photo_place}}</p>
										<p>Голоса: {{photo.votes|length}}</p>
									</header>
								</article>
								{% endfor %}
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>О проекте</h2>
									</header>
									{% if not current_user.is_authenticated : %}
									<p>Регистрируйтесь, и вы сможете загружать свои фото и оценивать фото других.
										Раз в месяц по итогам голосования выбирается лучшая фотография северной природы!</p>
									{%else:%}
									<p>Теперь вы сможете загружать свои фото и оценивать фото других.
										Раз в месяц по итогам голосования выбирается лучшая фотография северной природы!
									{%endif%}
									<ul class="actions">
										{% if not current_user.is_authenticated : %}
										<li><a href="{{ url_for('register') }}" class="button next">Участвовать!</a></li>
										{%else:%}
										<li><a href="{{ url_for('add_new_photo') }}" class="button next">Добавить свое фото!</a></li>
										{%endif%}
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="mailto:v_konopleva@yahoo.com?subject=Трудоустройство">
									<div class="fields">
										<div class="field half">
											<label for="name">Имя</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Ваш Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Сообщение</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Отправить" class="primary" /></li>
										<li><input type="reset" value="Очистить" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">gdu@gd-urengoy.gazprom.ru</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Телефон</h3>
										<span>+7 (3494) 94-81-11</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Адрес</h3>
										<span>ул. Железнодорожная, 8<br />
										г. Новый Уренгой<br />
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>


{% include "footer.html" %}

