{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}



				<!-- Main -->
					<div id="main">
							<section id="two" class="spotlights">
								<section>
									<div >
									<div class="image">
										<img  class="the_very_image" src="{{photo.img_url}}" alt="" style="" />
										</div>
<!--										{% if current_user.is_authenticated : %}-->
<!--									  {%if comment_form:%}-->
<!--									  {{ ckeditor.load() }}-->
<!--									{{ ckeditor.config(name='body') }}-->
<!--									{{ wtf.quick_form(comment_form, novalidate=True, button_map={"submit": "primary"}) }}-->
<!--									  {%endif%}-->
<!--										{%endif%}-->
<!--										Если данное фото было загружено текущим пользователем или зашел админ,-->
<!--										то должны быть кнопки "редактировать описание фото" и "удалить фото"-->
										{%if (current_user.id==1) or (photo.photo_author.id == current_user.id):%}

											<div class="edit_delete_buttons">
											<a class="edit_delete_buttons button"  href="{{url_for('edit_photo', photo_id=photo.id)}}">Редактировать</a>

											<a class="edit_delete_buttons button"  href="{{url_for('delete_photo', photo_id=photo.id)}}">Удалить фото</a>
											</div>

										{%endif%}
									</div>
									<div class="content">
										<div class="inner" id="photo_details">
											<header class="major">
												<h3>{{photo.photo_title}}</h3>
											</header>
											<p> Место, где сделано фото: {{photo.photo_place}}</p>
											<p> Автор: {{photo.photo_author.first_name}}
											{{photo.photo_author.last_name}},
											{{photo.photo_author.department}}</p>
											<p> Фото опубликовано: {{photo.date}}</p>
											<p>Голоса: {{photo.votes|length}}</p>
											{%if photo.votes:%}
											<p>Фото оценили:
												{% set ns = namespace(number=0) %}
												{%for vote in votes if (ns.number < 4):%}
													{% set ns.number = ns.number + 1 %}
													{%if (ns.number != votes|length) and (ns.number < 4):%}
														{{vote.voting_user.first_name}} {{vote.voting_user.last_name}},
													{%elif ns.number == votes|length:%}
														{{vote.voting_user.first_name}} {{vote.voting_user.last_name}}
													{%elif ns.number >= 4:%}
														{{vote.voting_user.first_name}} {{vote.voting_user.last_name}} и др.</p>
													{%endif%}
												{%endfor%}
											{%endif%}
											{% if current_user.is_authenticated : %}
											<ul class="actions">
												{% set ns = namespace(user_already_voted=false) %}
												{%for vote in photo.votes:%}
													{%if vote.voting_user.id == current_user.id:%}
														{% set ns.user_already_voted = true %}
													{%endif%}
												{%endfor%}
												{%if not current_user.id==photo.photo_author.id:%}
												{%if not ns.user_already_voted:%}
												<h3 style="padding-left:22px;">Оценить</h3>
												<li><a href="{{ url_for('vote_for_photo', photo_id=photo.id)}}" ><span class="iconify" data-icon="ant-design:fire-outlined" data-width="40"></span></a></li>
												{%else:%}
												<h3 style="padding-left:22px;">Вы уже оценили это фото!</h3>
												{%endif%}
												{%endif%}
											</ul>
											{%endif%}

										</div>
									</div>
								</section>
								</section>
					</div>
{% include "footer.html" %}


